.logo_image{
    height: 120px;
    width: 109px;
}
.box1{
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url("../images/BATC\ Students\,\ Faculty\,\ and\ Staff.jpg");
    background-size: cover;
}
.box1_text{
    background-color:white;
    opacity: 0.8;
}
