.logo_image{
    height: 120px;
    width: 109px;
}
.home_box{
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url("../images/BATC\ Students\,\ Faculty\,\ and\ Staff.jpg");
    background-size: cover;
}
.home_box_text{
    background-color:white;
    opacity: 0.8;
}
.carousel_image{
    height: 380px;
}
.faculty_image{
    height: 380px;
    object-fit: contain;
}
.spiritual_box{
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url("../images/IMG_20190627_081104460_HDR.jpg");
    background-size: cover;
}
.spiritual_box_text{
    background-color:white;
    opacity: 0.8;
}
.student_life_image1{
    background-image: url("../images/IMG_20191206_125014441.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.student_life_image2{
    background-image: url("../images/image4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.student_life_image3{
    background-image: url("../images/8a.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.student_life_image4{
    background-image: url("../images/IMG_20190626_162615035.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.giving_BATC_box{
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url("../images/IMG_20190721_144523603.jpg");
    background-size: cover;
}
.giving_BATC_text{
    background-color:white;
    opacity: 0.8;
}
.history_image{
    height: 300px;
    width: 300px;
    border-radius: 50px;
}
.governor_image{
    object-fit: cover;
}
.courses_offered_box{
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url("../images/IMG_20190515_115706599_HDR.jpg");
    background-size: cover;
}
.courses_offered_text{
    background-color:white;
    opacity: 0.8;
}